@import 'swiper/css';
@import 'fonts';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles should be used sparingly if at all. */
@layer base {
	.field-error {
		display: block;
		margin: 0.5rem 0 1rem;
		color: red;
		font-size: 1rem;
	}
}

@layer utilities {
	.section-heading {
		@apply text-[28px] font-bold leading-[115%] tracking-[-0.7px] md:text-[42px] md:tracking-[-1.05px];
	}
}
.container {
	@apply mx-auto max-w-[1366px];
}
