<section class="py-12 bg-white md:py-24">
	<div class="container relative z-10">
		<div class="flex flex-col gap-[14px] text-center">
			<!-- Eyebrow -->
			<h5
				class="text-center text-[15px] font-semibold uppercase text-sage md:text-[19px]"
			>
			EXCLUSIVE OFFER FOR THE FIRST 3 AUSSIE FIRST-TIME INVESTORS…
			</h5>
			<div class="mx-auto max-w-[900px]">
				<h2
					class="text-center text-[28px] font-bold leading-[115%] tracking-[-0.84px] text-onyx md:text-5xl md:leading-[120%] md:tracking-[-1.47px] mb-4"
				>
				Give Us Just 30-Minutes And We’ll Show You Exactly How To Purchase Your First Property And Rake In Over $100K+ In Capital Growth In The First 12 Months
				</h2>
				<img src="offer.jpg" alt="Offer Stack" class="hidden w-full h-auto md:block"/>
				<img src="offer-mobile.jpg" alt="Offer Stack" class="w-full h-auto md:hidden"/>

			</div>
			<div class="mx-auto max-w-[700px]">
				<p
					class="mb-4 text-center text-base leading-relaxed tracking-[-0.16px] md:mb-0 md:text-[20px] text-onyx"
				>
				Here’s what you’ll get in your Free ‘Wealth Kickstarter’ Package:
				</p>
			</div>
			<!-- Not a Button -->
			<div class="flex justify-center">
				<div class="container p-4">
					<div class="w-full mx-auto text-left md:w-10/12 lg:w-8/12">
						<div class="mb-4 overflow-hidden rounded-xl">
							<div
								class="accordion__title active [&.active+div]:bg-azure [&.active+div]:text-black relative cursor-pointer bg-gray-100 transition-colors duration-500 relative font-bold text-black text-lg px-6 py-6 pr-14 after:size-4 after:content-['+'] after:block after:absolute after:right-6 after:top-1/2 after:-translate-y-1/2 after:transition-[transform] after:duration-500 [&.active]:bg-azure [&.active]:text-black  [&.active]:after:content-['-']"
							>
							Reveal 14 Costly Real Estate Traps… 
							</div>
							<div
								class="accordion__content h-0 overflow-hidden transition-[height] duration-500"
							>
								<div class="flex h-auto gap-4 px-6 pb-2 text-onyx">
									<img src="faq-01.png" class="w-[93px] h-auto shrink-0" />
									<p class="pb-4">
										How to avoid the common mistakes that could drain $100K+ from your first investment before you even get started (that most agents or realtors won’t tell you)
									</p>
									 
								</div>
							</div>
						</div>
						 
						<div class="mb-4 overflow-hidden rounded-xl">
							<div
								class="accordion__title  [&.active+div]:bg-azure [&.active+div]:text-black relative cursor-pointer bg-gray-100 transition-colors duration-500 relative font-bold text-black text-lg px-6 py-6 pr-14 after:size-4 after:content-['+'] after:block after:absolute after:right-6 after:top-1/2 after:-translate-y-1/2 after:transition-[transform] after:duration-500 [&.active]:bg-azure [&.active]:text-black  [&.active]:after:content-['-']"
							>
							FREE Exclusive Property Investment Training...
							</div>
							<div
								class="accordion__content h-0 overflow-hidden transition-[height] duration-500"
							>
								<div class="flex h-auto gap-4 px-6 pb-2 text-onyx">
									<img src="faq-01.png" class="w-[93px] h-auto shrink-0" />
									<p class="pb-4">
										A step-by-step breakdown of how to secure a high-growth property, maximize capital gains, and scale your portfolio, even with zero experience.
									</p>
									 
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<!-- Banner -->
		 
	</div>

	 
</section>
