<header
	class="site-header absolute left-0 top-0 z-[99] w-full bg-transparent py-4 transition duration-300"
>
	<div class="container px-4">
		<div class="flex items-center justify-between">
			<div class="">
				<if condition="page === 'offer'">
					<a href="#top">
						<span class="sr-only">Logo</span>
						<img
							width="120"
							src="jsc-logo-colour.png"
							class="w-[67px] md:w-[121px]"
						/>
					</a>
				</if>
				<else>
					<a href="/">
						<span class="sr-only">Logo</span>
						<img
							width="120"
							src="jsc-logo-colour.png"
							class="w-[67px] md:w-[121px]"
						/>
					</a>
				</else>
			</div>
			<a
				href="tel:0721145984"
				class="flex items-center"
				title="phone"
			>
				<div class="md:mr-3">
					<icon
						class="hidden w-6 md:block"
						src="icon-phone.svg"
					></icon>
					<icon
						class="size-10 md:hidden"
						src="icon-phone-header.svg"
					></icon>
				</div>
				<div
					class="phone-text hidden flex-col text-xl leading-tight text-onyx md:flex"
				>
					<span
						class="block text-sm font-bold uppercase text-sage"
						>Have Questions?</span
					>
					<em class="font-bold not-italic">07 2114 5984</em>
				</div>
			</a>
		</div>
	</div>
</header>
