<div
	class="flex flex-col md:flex-row md:overflow-hidden md:rounded-[20px] [&:nth-of-type(2)]:md:flex-row-reverse"
>
	<!-- Image -->
	<div class="md:w-1/2">
		<img
			src="{{ mobileImage }}"
			alt=""
			class="h-full w-full object-cover md:hidden"
		/>
		<img
			src="{{ desktopImage }}"
			alt=""
			class="hidden h-full w-full object-cover md:block"
		/>
	</div>
	<!-- Content -->
	<div
		class="flex flex-col gap-3 rounded-b-[10px] bg-azure px-3 py-10 pt-5 md:w-1/2 md:justify-center md:px-10 md:py-10"
	>
		<div class="flex items-center gap-2 md:gap-4">
			<!-- Number -->
			<div
				class="flex size-8 items-center justify-center rounded-full bg-white text-center font-bold text-sage md:size-14 md:text-3xl"
			>
				{{ number }}
			</div>
			<!-- Heading -->
			<h3 class="text-xl font-semibold md:text-[26px]">{{ heading }}</h3>
		</div>
		<!-- Text -->
		<p>{{ description }}</p>
	</div>
</div>
