<div
	class="group/modal pointer-events-none fixed left-0 top-0 z-[999] hidden h-screen w-full overflow-auto bg-black/80 opacity-0 transition-opacity duration-300 group-[.ready]/body:block [&.is-open]:pointer-events-auto [&.is-open]:opacity-100"
	id="termsConditions"
	role="dialog"
	aria-labelledby="termsConditionsTitle"
	aria-hidden="true"
>
	<div tabindex="-1" data-mm-dismiss class="h-full w-full">
		<div
			role="dialog"
			aria-modal="true"
			aria-labelledby="modal-1-title"
			class="flex h-full items-center justify-center px-4 py-8 lg:py-10"
		>
			<div
				id="modal-1-content"
				class="m-auto w-full max-w-2xl translate-y-8 bg-white px-5 py-6 text-center transition-transform duration-300 group-[.is-open]/modal:translate-y-0 motion-reduce:transition-none md:px-10 md:py-10"
			>
				<span
					data-mm-dismiss
					class="absolute right-4 top-4 block w-4 cursor-pointer text-black md:right-5 md:top-5"
				>
					<svg
						width="17"
						height="17"
						viewBox="0 0 17 17"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
						class="pointer-events-none h-auto w-full"
					>
						<path
							d="M16.7071 1.70711C17.0976 1.31658 17.0976 0.683417 16.7071 0.292893C16.3166 -0.0976311 15.6834 -0.0976311 15.2929 0.292893L16.7071 1.70711ZM0.292893 15.2929C-0.0976311 15.6834 -0.0976311 16.3166 0.292893 16.7071C0.683417 17.0976 1.31658 17.0976 1.70711 16.7071L0.292893 15.2929ZM1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM15.2929 16.7071C15.6834 17.0976 16.3166 17.0976 16.7071 16.7071C17.0976 16.3166 17.0976 15.6834 16.7071 15.2929L15.2929 16.7071ZM15.2929 0.292893L0.292893 15.2929L1.70711 16.7071L16.7071 1.70711L15.2929 0.292893ZM0.292893 1.70711L15.2929 16.7071L16.7071 15.2929L1.70711 0.292893L0.292893 1.70711Z"
							fill="black"
						/>
					</svg>
				</span>

				<div class="prose prose-sm text-left">
					<h1>JSC Godfather Offer</h1>
					<p>
						The JSC Godfather Offer includes personalised property
						recommendations, strategic advisory services, and access
						to our proprietary 'Capital Compounder' strategy, which
						is tailored to help you generate substantial passive
						income and build wealth in the long term. By following
						our proven Property Action Plan, you could be on track
						to generate $8,397+ per month in passive income and
						retire 20+ years earlier than anticipated, subject to
						Terms and Conditions.
					</p>

					<ol>
						<li>
							"My Brother-In-Law Didn't Believe I Was Making
							$8,397+ Per Month in Passive Income… You Should Have
							Seen His Face When I Paid Off My Parents' Mortgage
							and Retired Six Months Later!"
						</li>
						<li>
							Aussie New Investors Are Retiring 20+ Years Early
							with This 'Capital Compounder' Strategy That
							Generates $8,397+ Every Month in Passive Income!
						</li>
					</ol>

					<h2>JSC Godfather Offer Terms and Conditions (T&Cs)</h2>
					<p>
						These Terms and Conditions ("T&Cs") govern your
						participation in the JSC Godfather Offer ("the Offer")
						provided by JSC Property Investments ("JSC," "we," "us,"
						or "our"). By participating in the Offer, you ("Client,"
						"you," or "your") agree to be bound by these T&Cs.
					</p>

					<h3>1. Eligibility Criteria</h3>
					<ol type="a">
						<li>
							The JSC Godfather Offer is available exclusively to
							clients who have formally engaged JSC Property
							Investments as their buyer's agent for the
							acquisition of investment properties, as evidenced
							by a duly executed Engagement Form.
						</li>
						<li>
							Eligibility for the Offer is further conditional
							upon the client having completed a comprehensive
							Fact Find and having received a personalised
							Property Action Plan from JSC, detailing an
							investment strategy designed to support the
							attainment of specified financial and lifestyle
							objectives.
						</li>
						<li>
							Clients must be either Australian residents or
							possess the legal capacity and authority to invest
							in real property located within Australia.
						</li>
					</ol>

					<h3>2. Offer Description</h3>
					<ol type="a">
						<li>
							The JSC Godfather Offer includes:
							<ol type="i">
								<li>
									The identification and recommendation of
									investment properties that align with the
									client's personalised Property Action Plan,
									developed to support the achievement of the
									client's long-term financial and lifestyle
									objectives.
								</li>
								<li>
									Strategic advisory services based on JSC's
									proprietary "Capital Compounder" strategy,
									which may include the pursuit of specific
									outcomes—such as a targeted level of monthly
									passive income—as part of the overarching
									approach outlined in the client's Property
									Action Plan.
								</li>
							</ol>
						</li>
						<li>
							JSC makes no representations or warranties regarding
							the achievement of specific financial outcomes.
							Investment results are inherently subject to a range
							of factors, including but not limited to prevailing
							market conditions, the performance of selected
							properties, and the client's adherence to the
							recommendations set out in the Property Action Plan.
						</li>
						<li>
							The Offer is strictly limited to investment
							properties acquired through JSC Property Investments
							and does not extend to properties sourced
							independently by the client, or through third
							parties.
						</li>
					</ol>

					<h3>
						3. JSC Property Investments Priority Properties
						Recommendation
					</h3>
					<ol type="a">
						<li>
							The Offer applies solely to properties selected and
							recommended by JSC Property Investments, following
							our due diligence and property selection process,
							ensuring alignment with the client's Property Action
							Plan. Properties that are independently sourced by
							the client or recommended by third parties shall not
							be covered by the Offer.
						</li>
						<li>
							For the purposes of these T&Cs, "Priority
							Properties" refer to those identified by JSC as
							having the highest potential to contribute to the
							client's long-term goals, as outlined in the
							property Investment Report.
							<ol type="i">
								<li>
									JSC will inform the client whether a
									recommended property is part of the Priority
									Properties list via Investment Reports
									provided during the property search phase.
								</li>
								<li>
									The client retains the right to select
									properties from JSC Property Investments'
									recommendations outside of the Priority
									Properties list but such properties will not
									qualify for the Offer.
								</li>
							</ol>
						</li>
					</ol>

					<h3>4. Performance Assessment</h3>
					<ol type="a">
						<li>
							The performance of the selected investment property
							will be evaluated in relation to its contribution
							toward the objectives outlined in the client's
							Property Action Plan. These objectives may include,
							but are not limited to, capital growth, generation
							of passive income, and portfolio diversification
							over the agreed investment timeframe.
						</li>
						<li>
							JSC will provide periodic Progress Reports to assess
							the property's performance against the benchmarks
							and goals set forth in the Property Action Plan.
							<ol type="i">
								<li>
									The frequency of these Progress Reports are
									annual, or as otherwise agreed upon between
									the Parties.
								</li>
							</ol>
						</li>
						<li>
							Any target outcomes referenced under the Offer
							(e.g., generating $8,397+ per month in passive
							income or achieving retirement within 20+ years) are
							illustrative in nature and based on historical data
							and the market conditions prevailing at the time the
							Offer is made.
							<ol type="i">
								<li>
									JSC provides no assurance or guarantee that
									such outcomes will be achieved.
								</li>
							</ol>
						</li>
					</ol>

					<h3>5. Market Conditions as a Factor</h3>
					<ol type="a">
						<li>
							In the event of significant changes in economic
							conditions, including but not limited to adjustments
							in government policies, severe interest rate
							fluctuations, or a period of negative GDP growth
							lasting three consecutive quarters, which materially
							affect the Australian property market, JSC reserves
							the right to review the Offer and, if required,
							adjust its terms or temporarily suspend it.
							<ol type="i">
								<li>
									In such cases, JSC will notify the client in
									writing and provide reasonable evidence of
									the material impact on the property market.
								</li>
							</ol>
						</li>
					</ol>

					<h3>6. Client Obligations</h3>
					<ol type="a">
						<li>
							The Client shall adhere to the terms and conditions
							outlined in the Engagement Form and comply with the
							recommendations set forth in the Property Action
							Plan, including but not limited to, property
							selection, financing, and property management
							strategies.
						</li>
						<li>
							The Client shall bear all costs associated with the
							purchase and ownership of the property, including,
							without limitation, legal fees, stamp duty, property
							management fees, and ongoing maintenance expenses.
						</li>
						<li>
							Failure to comply with the Property Action Plan or
							the Engagement Form may result in the client's
							ineligibility for the Offer.
							<ol type="i">
								<li>
									In the event the Client breaches any of the
									terms or conditions specified in the
									Engagement Form or these Terms, JSC reserves
									the right to rescind the guarantee
									immediately, without prior notice or
									liability.
								</li>
							</ol>
						</li>
					</ol>

					<h3>7. Offer Coverage Period</h3>
					<ol type="a">
						<li>
							The Offer commences on the date of property
							settlement and applies throughout the duration of
							the client's Property Action Plan with periodic
							assessments as agreed.
						</li>
					</ol>

					<h3>8. Exclusions</h3>
					<ol type="a">
						<li>
							The Offer does not apply to owner-occupied
							properties or properties sold, refinanced, or
							materially altered during the Property Action Plan
							period without prior written approval from JSC,
							except in cases of force majeure.
							<ol type="i">
								<li>
									For the purposes of this Offer, "materially
									altered" refers to any renovation,
									modification, or structural change that
									negatively impacts the property's ability to
									meet the Property Action Plan goals, such as
									reduced rental income potential,
									desirability, or marketability.
								</li>
							</ol>
						</li>
						<li>
							The Offer does not cover losses due to client
							decisions, such as failure to secure tenants,
							mismanagement of the property, or deviation from the
							Property Action Plan.
						</li>
					</ol>

					<h3>9. Limitation of Liability</h3>
					<ol type="a">
						<li>
							JSC shall not be liable for any indirect,
							incidental, or consequential losses arising from the
							Client's participation in the Offer, including, but
							not limited to, any shortfall in achieving the
							financial or lifestyle objectives set forth in the
							Property Action Plan. JSC's liability under this
							Offer is strictly limited to the fees paid by the
							Client for JSC's services as outlined in the
							Engagement Form.
						</li>
					</ol>

					<h3>10. One-Time Offer</h3>
					<ol type="a">
						<li>
							The JSC Godfather Offer is a one-time benefit per
							client and does not apply to subsequent property
							purchases unless explicitly stated by JSC.
						</li>
					</ol>

					<h3>11. Contact Information</h3>
					<ol type="a">
						<li>
							For any inquiries or concerns pertaining to the JSC
							Godfather Offer, please contact JSC Property
							Investments via email at
							info@jscpropertyinvestments.com.au.
							<ol type="i">
								<li>
									JSC shall endeavour to respond to all
									Offer-related inquiries or concerns within
									two (2) business days.
								</li>
							</ol>
						</li>
					</ol>

					<h3>12. Governing Law</h3>
					<ol type="a">
						<li>
							These Terms and Conditions are governed by the laws
							of Australia, and the courts of Queensland will have
							non-exclusive jurisdiction in relation to any
							dispute between the Parties.
						</li>
					</ol>

					<h3>13. Separability</h3>
					<ol type="a">
						<li>
							If any provision of these T&Cs, or any part thereof,
							is declared void or unenforceable by competent
							authorities, the remainder unaffected by such
							declaration shall remain valid and binding.
						</li>
					</ol>

					<h2>JSC Guarantee Statement</h2>
					<p>
						JSC Property Investments guarantees a minimum of
						$100,000 in capital growth within the first 12 months,
						or we will waive our Engagement and Success Fee for your
						next property investment purchase, subject to the
						following Terms and Conditions:
					</p>

					<h2>JSC Guarantee Terms and Conditions (T&Cs)</h2>
					<p>
						These Terms and Conditions ("T&Cs") govern your
						participation in the JSC Guarantee (the "Guarantee")
						provided by JSC Property Investments ("JSC," "we," "us,"
						or "our"). By participating in the Guarantee, you
						("Client," "you," or "your") agree to be bound by these
						T&Cs.
					</p>

					<h3>1. Eligibility Criteria</h3>
					<ol type="a">
						<li>
							The Guarantee shall apply exclusively to properties
							purchased through JSC Property Investments, provided
							that the purchase price of the property meets either
							of the qualifications below:
							<ol type="i">
								<li>
									The property is valued at no less than
									$800,000, with a capital growth threshold of
									$100,000 within 12 months following
									settlement; or
								</li>
								<li>
									The property is valued at or below
									$799,999.99, with a capital growth threshold
									equal to 10% of the purchase price within 12
									months following settlement.
								</li>
							</ol>
						</li>
						<li>
							The Guarantee shall apply solely to properties
							purchased with the intention of investment, whether
							for capital growth or cash flow purposes, and shall
							not extend to owner-occupied properties.
						</li>
					</ol>

					<h3>
						2. JSC Property Investments Priority Properties
						Recommendation
					</h3>
					<ol type="a">
						<li>
							The Guarantee shall be valid solely for Priority
							Properties selected and recommended by JSC Property
							Investments, following our due diligence and
							property selection process. Properties that are
							independently sourced by the client or recommended
							by third parties shall not be eligible for the
							Guarantee.
						</li>
						<li>
							For the purposes of these Terms and Conditions,
							"Priority Properties" refer to those properties
							identified by JSC Property Investments as having the
							highest potential for capital growth.
							<ol type="i">
								<li>
									JSC Property Investments endeavours to
									inform the client whether the recommended
									property is part of the Priority Properties
									list through the Investment Reports, which
									will be provided to the client from time to
									time during the property search phase.
								</li>
								<li>
									The client retains the right to select
									properties from JSC Property Investments'
									recommendations outside of the Priority
									Properties list.
								</li>
							</ol>
						</li>
					</ol>

					<h3>3. Verification and Appraisal</h3>
					<ol type="a">
						<li>
							Within two weeks following the conclusion of the
							12-month period after purchase, the property's
							capital growth will be assessed based on
							independent, third-party appraisals recommended by
							JSC Property Investments. The identity of the
							third-party appraisers will be communicated by JSC
							to the client in writing.
						</li>
						<li>
							To qualify for the Guarantee, the valuation must
							demonstrate a capital growth of less than:
							<ol type="i">
								<li>
									$100,000 from the original purchase price
									for properties valued at or above $800,000;
									or
								</li>
								<li>
									10% of the original purchase price for
									properties valued at or below $799,999.99.
								</li>
							</ol>
						</li>
						<li>
							If the capital growth, as determined following the
							12-month period, exceeds the aforementioned
							thresholds, the Guarantee shall terminate with
							immediate effect.
						</li>
					</ol>

					<h3>4. Market Conditions as a Factor</h3>
					<ol type="a">
						<li>
							In the event of significant changes in economic
							conditions, including but not limited to adjustments
							in government policies or a period of negative GDP
							growth lasting three consecutive quarters, which may
							materially affect the Australian property market,
							JSC Property Investments reserves the right to
							review the Guarantee and, if required, make
							adjustments or temporarily suspend it. While JSC
							Property Investments remains committed to honouring
							the Guarantee, it may take such actions to ensure
							its continued alignment with the prevailing economic
							circumstances.
							<ol type="i">
								<li>
									In such circumstances, JSC Property
									Investments will notify the client in
									writing of its decision and, where
									applicable, provide reasonable evidence to
									demonstrate the material impact of the
									adverse economic conditions on the property
									market.
								</li>
							</ol>
						</li>
					</ol>

					<h3>5. Client Obligations</h3>
					<ol type="a">
						<li>
							The client shall make reasonable efforts to adhere
							to the Terms outlined in the Engagement Form. In the
							event that the client breaches any of the terms set
							forth in the Engagement Form, JSC reserves the right
							to rescind the Guarantee without prior notice.
						</li>
					</ol>

					<h3>6. Guarantee Claim Entitlements</h3>
					<ol type="a">
						<li>
							In the event that the property fails to achieve the
							guaranteed capital growth, JSC will waive its
							Engagement Fee and Success Fee for the client's
							subsequent property purchase.
							<ol type="i">
								<li>
									The client will remain responsible for all
									other fees associated with JSC's Services as
									defined under the Engagement Form, as well
									as any additional property-related costs,
									including but not limited to legal fees,
									stamp duty, and other applicable expenses.
								</li>
							</ol>
						</li>
					</ol>

					<h3>7. Guarantee Coverage Period</h3>
					<ol type="a">
						<li>
							The Guarantee coverage commences on the date of
							property settlement and expires 12 months
							thereafter.
						</li>
					</ol>

					<h3>8. One-Time Offer</h3>
					<ol type="a">
						<li>
							This Guarantee is a one-time offer and does not
							apply to any subsequent purchases following the
							sourcing of the replacement property.
						</li>
					</ol>

					<h3>9. Exclusions</h3>
					<ol type="a">
						<li>
							Any Guarantees will be void if the property is sold,
							refinanced, or materially altered during the
							12-month period without prior written approval from
							JSC Property Investments, except in cases of force
							majeure.
							<ol type="i">
								<li>
									For the purposes of this guarantee,
									"materially altered" refers to any
									renovation, modification, or structural
									change that negatively impacts the
									property's desirability, value, or
									marketability, including but not limited to
									significant alterations that reduce the
									property's appeal to potential buyers or
									tenants.
								</li>
							</ol>
						</li>
					</ol>

					<h3>10. Applicable Law</h3>
					<ol type="a">
						<li>
							These Terms and Conditions are governed by the laws
							of Australia, and the courts of Queensland will have
							non-exclusive jurisdiction in relation to any
							dispute between the Parties.
						</li>
					</ol>

					<h3>11. Separability</h3>
					<ol type="a">
						<li>
							If any provision of this JSC Guarantee Terms and
							Conditions, or any part thereof, be declared void or
							unenforceable by competent authorities, the
							remainder unaffected by such declaration shall
							remain valid and binding.
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
